<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	
	<servlet>
		<servlet-name>ComplainRepository</servlet-name>
		<display-name>ComplainRepository</display-name>
		<description></description>
		<servlet-class>repository.ComplainRepository</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ComplainRepository</servlet-name>
		<url-pattern>/ComplainRepository</url-pattern>
	</servlet-mapping>

</web-app>
